{% extends "base.html" %}
{% block content %}
    <h1>{{ sound.name }}</h1>

    <div>
        <p>Автор:<a href="../user/{{ sound.user.id }}"> {{ sound.user.nickname }}</a></p>

        <a href="../user/{{ sound.user.id }}"><img src="../../static/images/{{ sound.user.image }}" alt=""
                                                   width="60" height="60"></a>
    </div>

    {% if sound.description %}
        <p>Описание: {{ sound.description }}</p>
    {% endif %}
    <p>Количество загрузок: {{ sound.downloads }}</p>
    <p>Дата создания: {{ sound.datetime.day }}-{{ sound.datetime.month }}-{{ sound.datetime.year }}</p>
    <audio controls>
        <source src="../../static/sounds/{{ sound.filename }}">
    </audio>
    <br>
    <p>Тэги:
        {% for tag in sound.tags %}
            {% if not loop.last %}
                {{ tag.name }},
            {% else %}
                {{ tag.name }}
            {% endif %}
        {% endfor %}
    </p>
    <br>
    <a href="/sound/{{ sound.id }}/download" class="btn btn-secondary">Скачать</a>
    <br>
    <br>
    <br>
    <br>
    <h3>Комментарии</h3>
    <h5>Написать комментарий:</h5>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.content(class="form-control", type="text-area") }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
    <br>
    {% for comment in comments %}
        <div class="col-md6 border rounded">

            <a href="../user/{{ comment.user.id }}">
                <img src="../../static/images/{{ comment.user.image }}" alt="" width="60" height="60">
                <strong>{{ comment.user.nickname }}</strong>
            </a>

            {{ comment.datetime.day }}.{{ comment.datetime.month }}.{{ comment.datetime.year }}
            <br>
            <div>
                {{ comment.content }}
            </div>
        </div>
    {% endfor %}
{% endblock %}