{% extends "base.html" %}
{% block content %}

    <div>
        <h2>{{ user.nickname }}</h2>
        <p>
            Зарегестрирован: {{ user.registration_date.day }}.{{ user.registration_date.month }}.{{ user.registration_date.year }}</p>
        <p>{{ user.profile_description }}</p>
        <img src="../../static/images/{{ user.image }}" alt="" width="100" height="100">
    </div>

    <br>
    {% if current_user.id == user.id %}
        <a href="../update_profile_info" class="btn btn-primary">Изменить информацию</a>
        <a href="../logout" class="btn btn-danger">Logout</a>
    {% endif %}
    <br>

    <h3>Звуки пользователя</h3>
    <div>
        {% for sound in sounds %}
            <div class="soundpost">
                <h3>{{ sound.name }}</h3>
                <img src="../../static/images/{{ user.image }}" alt="" width="100" height="100">
                <p>Автор: {{ user.nickname }}</p>
                <audio controls>
                    <source src="../../static/sounds/{{ sound.filename }}">
                </audio>
                <p>{{ sound.description }}</p>

                {% if current_user.is_authenticated %}
                    <a href="/sound/{{ sound.id }}" class="btn btn-secondary">Скачать</a>
                {% else %}
                    <a href="/register" class="btn btn-secondary">Скачать</a>
                {% endif %}
                {% if current_user.is_authenticated and sound.author_id == current_user.id %}
                    <a class="btn btn-danger" href="/sound/{{ sound.id }}/delete">Удалить</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
